<div class="min-h-screen bg-gradient-to-b from-blue-400 to-blue-600 flex justify-center items-center" >
  
  <form [formGroup]="student_form" class="max-w-md mx-auto p-8 bg-white bg-opacity-75 shadow-md rounded-md" (ngSubmit)="updateStudent()">
    <h1 class="text-3xl font-bold text-blue-800 mb-8">Modification d'étudiant</h1>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="first_name">Prénom :</label>
      <input type="text" formControlName="first_name" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" id="first_name" required>
      <div class="text-red-500 text-sm mt-1" *ngIf="student_form.get('first_name')?.invalid && student_form.get('first_name')?.touched">
        Veuillez fournir un prénom valide.
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="last_name">Nom de famille :</label>
      <input type="text" formControlName="last_name" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" id="last_name" required>
      <div class="text-red-500 text-sm mt-1" *ngIf="student_form.get('last_name')?.invalid && student_form.get('last_name')?.touched">
        Veuillez fournir un nom de famille valide.
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="date_of_birth">Date de naissance :</label>
      <input type="date" formControlName="date_of_birth" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" id="date_of_birth" required>
      <div class="text-red-500 text-sm mt-1" *ngIf="student_form.get('date_of_birth')?.invalid && student_form.get('date_of_birth')?.touched">
        Veuillez fournir une date de naissance valide.
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">E-mail :</label>
      <input type="email" formControlName="email" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" id="email" required>
      <div class="text-red-500 text-sm mt-1" *ngIf="student_form.get('email')?.invalid && student_form.get('email')?.touched">
        Veuillez fournir une adresse e-mail valide.
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="address">Adresse :</label>
      <input type="text" formControlName="address" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" id="address" required>
      <div class="text-red-500 text-sm mt-1" *ngIf="student_form.get('address')?.invalid && student_form.get('address')?.touched">
        Veuillez fournir une adresse valide.
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="phone_number">Numéro de téléphone :</label>
      <input type="tel" formControlName="phone_number" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" id="phone_number">
      <div class="text-red-500 text-sm mt-1" *ngIf="student_form.get('phone_number')?.invalid && student_form.get('phone_number')?.touched">
        Veuillez fournir un numéro de téléphone valide.
      </div>
    </div>

    <button type="submit" [disabled]="student_form.invalid" class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline hover:bg-blue-600">
      Soumettre
    </button>
  </form>
</div>
