  <div class="container bg-white/75 border-2 border-white w-1/2 h-2/3 mx-auto flex justify-evenly flex-col p-4 shadow-lg shadow-white my-16" *ngIf="student != undefined; else noDataAvailable">

    <p class="text-lg text-slate-950 font-semibold">
      <span class="font-bold uppercase text-red-700">ID:</span> {{ student.id }} </p>

    <p class="text-lg text-slate-950 font-semibold">
      <span class="font-bold uppercase text-red-700">Nom:</span> {{ student.last_name }} </p>

    <p class="text-lg text-slate-950 font-semibold">
      <span class="font-bold uppercase text-red-700">Prenom:</span> {{ student.first_name }} </p>

    <p class="text-lg text-slate-950 font-semibold">
      <span class="font-bold uppercase text-red-700">Naissance:</span> {{ student.date_of_birth }} </p>

    <p class="text-lg text-slate-950 font-semibold">
      <span class="font-bold uppercase text-red-700">Email:</span> {{ student.email }}</p>

    <p class="text-lg text-slate-950 font-semibold">
      <span class="font-bold uppercase text-red-700">Address:</span>{{ student.address }}</p>

    <p class="text-lg text-slate-950 font-semibold">
      <span class="font-bold uppercase text-red-700">Telephone:</span> {{ student.phone_number }} </p>
  </div>

<ng-template #noDataAvailable>
  <p class="text-red-600 text-xl uppercase w-10 h-10 m-auto"> Etudiant inexistant </p>
</ng-template>
